spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://${RDS_HOST}:${RDS_PORT}/${RDS_DB}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
#    username: ${RDS_USER}
#    password: ${RDS_PASSWORD}
    url: jdbc:mysql://${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        show-sql: true

  application:
    name: backend

  web:
    resources:
      add-mappings: false


  autoconfigure:

server:
  port: 8080
  address: 0.0.0.0
  servlet:
    session:
      timeout: -1

musinsa:
  image-base-url: ${MUSINSA_IMAGE_BASE_URL}


